* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background: #0d21b6;
}
.menu ul{
    display: inline-flex;
    margin: 50px;
}
.menu ul li{
    list-style: none;
    margin: 0 20px;
    color: #d1d5f1;
    cursor: pointer; 
}
.active{
    color:rgb(232, 230, 243);
}
.signup{
    top:40px;
    right:80px;
    position: absolute;
    text-decoration: none;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#424242,#424242),radial-gradient(circle at top left, #f2f2f2, #191919);
    background-origin: border-box;
    background-clip: content-box,border-box;

}
.signup span{
    display: block;
    padding: 8px;
}
.banner{
    width: 80%;
    height: 75%;
    position:absolute;
    left:130px;
    top:25%;
    color: #fff;
}
.app-text{
    width: 50%;
    float: left;

}
.app-text h1{
    font-size: 43px;
    width: 640px;
    position: relative;
    margin-left: 40px;

}
.app-text p{
    margin-top: 20px;
    width: 650px;
    font-size: 15px;
    margin: 30px 0 30px 40px;
    line-height: 25px;
    color: #191919;
}
.app-picture{
    float: right;
    width: 50%;
}
.app-picture img{
    width: 50%;
    margin-top: -20px;
    padding-left: 70px;

}
.play-btn{
    margin-top: 20px;
    margin-left: 20px;
    display: inline-flex;
    padding:5px;

}
.play-btn-inner{
    height: 50px;
    width: 50px;
    border: 2px solid transparent;
    border-radius: 50%;
    background-image: linear-gradient(#424242,#424242),radial-gradient(circle at top left, #f2f2f2, #191919);
    background-origin: border-box;
    background-clip: content-box,border-box;
    text-align: center;
    display: inline;
}

.play-btn-inner .fas{
     padding: 18px 0;
     font-size: 13px;
     cursor: pointer;
     display: inline-block;
}
small{
    letter-spacing: 3px;
    font-size: 10px;
    
}
.quick-links{
    left:0;
    bottom: 0;
    position: absolute; 
    color: #fff; 
}
.quick-links ul{
    display: inline-flex;
    margin: 25px auto;
    text-align: center;
}
.quick-links ul li{
    list-style: none;
    margin: 0 50px;
    cursor: pointer;
}
.quick-links ul li .fa{
    font-size: 25px;
    color: #fff;

}
.quick-links ul li p{
    margin-top: 15px;
    font-size: 20px;
    color: #fff;


    
}



